<div class="top-new">
				<span class="top-new__hottest">hottest</span>
				The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.
				<a href="#" class="top-new__full"></a>
			</div>
			<header class="main-header">
				<button class="show-nav" id="show-nav">menu</button>
				<a href="#" class="logo"><img src="img/logo.png" alt="layman politics blog about politics"></a>
				<nav class="main-nav visually-hidden-mobile">
					<ul class="info-menu">
						<li class="info-menu__item"><a href="#" class="info-menu__link">privacy policy</a></li>
						<li class="info-menu__item"><a href="#" class="info-menu__link">advertise</a></li>
						<li class="info-menu__item"><a href="#" class="info-menu__link">terms and conditions</a></li>
					</ul>
					<ul class="main-nav__list">
						<li class="main-nav__item"><a href="#" class="main-nav__link">main street</a></li>
						<li class="main-nav__item"><a href="#" class="main-nav__link">washington dc</a></li>
						<li class="main-nav__item"><a href="#" class="main-nav__link">wall street</a></li>
						<li class="main-nav__item"><a href="#" class="main-nav__link">statewide</a></li>
						<li class="main-nav__item"><a href="#" class="main-nav__link">politics</a></li>
						<li class="main-nav__item"><a href="#" class="main-nav__link">just a bill</a></li>
						<li class="main-nav__item"><a href="#" class="main-nav__link">video</a></li>
					</ul>
				</nav>
			</header>
