<div class="news">
	<div class="title"><span class="title__main">gruesome video shows syria brutality</span>As crackdowns against anti-government protesters continue across</div>
	<div class="news__main">
		<picture>
			<source media="(max-width: 768px)" srcset="img/ruins-mobile.jpg">
			<img src="img/ruins.jpg" alt="syria brutality" class="news__big-img">
		</picture>
		
		<div class="news__main-description">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by one and hurled from them froma bridge into a river below as cursing filled the air</div>
	</div>
	<div class="sm-news-wrapper">
		<div class="sm-new">
			<img src="img/sm-new-1.jpg" alt="CNN could not verify the  authenticity" class="sm-new__img responsive-img">
			<a href="#" class="sm-new__link">CNN could not verify the  authenticity</a>
			<p class="sm-new__description">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
			<a href="" class="comments">12</a>
		</div>
		<div class="sm-new">
			<img src="img/sm-new-2.jpg" alt="How Much Do You Owe For Lunch? You Decide" class="sm-new__img responsive-img">
			<a href="" class="sm-new__link">How Much Do You Owe For Lunch? You Decide</a>
			<p class="sm-new__description">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
			<a href="" class="comments">12</a>
		</div>
		<div class="sm-new">
			<img src="img/sm-new-3.jpg" alt="Reid eyes deal to end  stalemate over funding" class="sm-new__img responsive-img">
			<a href="" class="sm-new__link">Reid eyes deal to end  stalemate over funding</a>
			<p class="sm-new__description">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
			<a href="" class="comments">12</a>
		</div>
		<div class="sm-new">
			<img src="img/sm-new-4.jpg" alt="Wall Street on Debt Deal So What?" class="sm-new__img responsive-img">
			<a href="" class="sm-new__link">Wall Street on Debt Deal So What?</a>
			<p class="sm-new__description">Dow drops more than 250 points as stock markets show no relief from Obama's</p>
			<a href="" class="comments">12</a>
		</div>
	</div>
	<div class="new-post">
		<div class="title title--new-post"><span class="title__main">In Syria, 'brother of a whore' gets tossed like trash</span>As crackdowns against anti-government protesters</div>
		<img src="img/postImg1.jpg" alt="In Syria, 'brother of a whore' gets tossed like trash" class="new-post__img">
		<p class="new-post__text">A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. in case that could test the bounds of free speech, a former Demonstaratic congresman has been allowed to proceed width his laswsuit against a prominent pro-life group that the claims contributed to his election defeat by spreading falsehoods about his record on abortion issues.</p>
		<a href="#" class="comments">12</a>
		<span class="new-post__tags">Tags:</span>
		<ul class="tags-list">
			<li class="tags-list__item"><a href="#" class="tags-list__link">Italy</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">Best wine</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">Spirit</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">World championship</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">Eat</a></li>
		</ul>
		<span class="new-post__share">Share:</span>
		<a href="#" class="facebook social"></a>
		<a href="" class="twitter social"></a>
	</div>
	<div class="new-post">
		<div class="title title--new-post"><span class="title__main">gruesome video show syria brutality</span>As crackdowns against anti-government protesters continue across</div>
		<img src="img/postImg2.jpg" alt="video show syrial brutality" class="new-post__img">
		<p class="new-post__text">In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehood about his recored on aborrtion issues. A federal judge in Ohio ruled Monday that former Rap. Steve Driehaus' defamation suit. </p>
		<a href="#" class="comments">12</a>
		<span class="new-post__tags">Tags:</span>
		<ul class="tags-list">
			<li class="tags-list__item"><a href="#" class="tags-list__link">Italy</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">Best wine</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">Spirit</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">World championship</a></li>
			<li class="tags-list__item"><a href="#" class="tags-list__link">Eat</a></li>
		</ul>
		<span class="new-post__share">Share:</span>
		<a href="#" class=" social facebook"></a>
		<a href="#" class=" social twitter"></a>
	</div>
</div>