<div class="videos">
	<h4 class="videos__title">hottest video</h4>
	<div class="sm-videos-wrapper">
		<div class="sm-new sm-new--video">
			<img src="img/video1.jpg " alt="CNN could not verify the  authenticity" class="sm-new__img sm-new__img--video responsive-img">
			<a href="#" class="sm-new__show"></a>
			<a href="#" class="sm-new__link">CNN could not verify the  authenticity</a>
			<p class="sm-new__description">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
			<a href="#" class="comments">12</a>
		</div>
		<div class="sm-new sm-new--video">
			<img src="img/video2.jpg " alt="CNN could not verify the  authenticity" class="sm-new__img sm-new__img--video responsive-img">
			<a href="#" class="sm-new__show"></a>
			<a href="#" class="sm-new__link">Reids eyes deal to end stalemate over funding</a>
			<p class="sm-new__description">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
			<a href="#" class="comments">12</a>
		</div>
		<div class="sm-new sm-new--video">
			<img src="img/video3.jpg " alt="CNN could not verify the  authenticity" class="sm-new__img sm-new__img--video responsive-img">
			<a href="#" class="sm-new__show"></a>
			<a href="#" class="sm-new__link">CNN could not verify the  authenticity</a>
			<p class="sm-new__description">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
			<a href="#" class="comments">12</a>
		</div>
	</div>
	<div class="email">
		<p class="videos__title">subscribe</p>
		<div class="email__field">
			<form action="#">
				<input class="email__input" type="email" placeholder="pcgamer@ya.ru">
				<input class='email__send' type="submit" value=" ">
			</form>
		</div>
		<div class="email__social">
			<a href="#" class="bgFacebook bgSocial"></a>
			<a href="#" class="bgTwitter bgSocial"></a>
			<a href="#" class="bgRss bgSocial"></a>
		</div>
	</div>
</div>